.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  min-width: 50px;
  max-width: 750px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}
